.course-widget {
  flex: 1;
  width: 100%;
  height: 150px;
  background-color: #242424;
  border-radius: $b-radius;

  @extend %widget-extend;

  &__name {
    font-size: 12px;
  }

  &__value {
    margin: 10px 0;
    font-weight: 100;
    font-size: 56px;

    &--up {
      &::after {
        display: inline-block;
        width: 0;
        height: 0;
        margin-left: 10px;
        border-color: transparent transparent rgb(121 228 0);
        border-style: solid;
        border-width: 0 15px 30px;
        content: "";
      }
    }

    &--down {
      &::after {
        display: inline-block;
        width: 0;
        height: 0;
        margin-left: 10px;
        border-color: rgb(194 0 0) transparent transparent;
        border-style: solid;
        border-width: 30px 15px 0;
        content: "";
      }
    }

    b {
      font-size: 50px;
    }
  }

  &__setting-header {
    display: flex;
    justify-content: flex-end;
  }
}
