.widgets-preview-list {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0 !important;
  padding: 0 !important;
  list-style: none;
  .widget {
    list-style-type: none;
    .front-side, .back-side {
      pointer-events: none;
    }
  }
}

