<template>
  <draggable
    tag="ul"
    class="widgets-preview-list"
    v-model="unactiveWidgets"
    v-bind="dragOptions"
    @start="drag = true"
    @end="drag = false"
    item-key="element"
    :group="{ name: 'widgets', pull: 'clone', put: false }"
  >
    <template #item="{ element: { component } }">
      <li class="widget">
        <component :is="component" />
      </li>
    </template>
  </draggable>
</template>
<script lang="ts">
import {
  defineComponent,
  computed,
  ref
} from 'vue';
import { useStore } from 'vuex';
import draggable from 'vuedraggable';
import { Widget } from '@/interfaces';
import './index.scss';

export default defineComponent({
  name: 'widgets-preview-list',

  components: {
    draggable
  },

  setup (props) {
    const store = useStore();

    const drag = ref<boolean>(false);

    const dragOptions = ref({
      animation: 200,
      ghostClass: 'widget-ghost'
    });

    const unactiveWidgets = computed<Widget[]>({
      get () {
        return store.getters.UNACTIVE_WIDGETS;
      },
      set (value) {
        store.commit('setUnactiveWidgets', value);
      }
    });

    return {
      unactiveWidgets,
      drag,
      dragOptions
    };
  }
});
</script>
