%widget-extend {
  list-style-type: none;
  position: relative;
  width: 100%;
  color: white;
  border-radius: $b-radius;
  transform: perspective(300px);
  transform-style: preserve-3d;
  transition: 0.9s;

  .front-side {
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: $b-padding;
    border-radius: $b-radius;
    transform: translateZ(2px);

    &::after {
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      color: white;
      font-size: 14px;
      background-color: rgb(0 0 0 / 50%);
      border-radius: $b-radius;
      transform: translateZ(3px);
      opacity: 0;
      transition: 0.3s;
      content: "Нажмите для настройки";
    }

    &:hover::after {
      opacity: 1;
    }
  }

  .back-side {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: $b-padding;
    border-radius: $b-radius;
    transform: translateZ(-2px) rotateY(180deg);
  }

  +.delete-btn {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    background-color: rgb(228 228 228);
    border-radius: 50%;
    transform: translate(-50%, -50%);

    &:hover {
      cursor: pointer;
    }

    &::after {
      font-size: 50px;
      transform: translateY(-1px);
      content: "-";
    }
  }

  &.in-settings {

    background: rgb(212, 211, 209);
    transform: rotateY(180deg);
    .back-side {
      opacity: 1;
    }
  }
}
