.aside-block {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  width: 300px;
  height: 100vh;
  padding: 20px;
  background-color: rgba($color: #000, $alpha: 50%);
  transform: translateX(-100%);
  backdrop-filter: blur(30px);
  transition: transform 0.2s ease-out;

  &--opened {
    transform: translateX(0);
  }
}
