@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import "./ui";

body {
  position: relative;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
  background-color: rgb(112, 186, 204);
}

#app {
  height: 100vh;
}

.widget {
  position: relative;
  margin-bottom: 10px;
  background: transparent;
  &:hover {
    cursor: pointer;
  }
}

.widget-ghost  {
  opacity: 0;
  visibility: hidden;
}

.flip-list-move {
  transition: transform 0s;
}

