.ui-input {
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 10px;
  padding: 5px 10px;
  border: none;
  border: 1px solid rgb(160 160 160);
  border-radius: $i-radius;

  &:focus {
    outline: 1px blue;
  }

  &:active {
    outline: 2px blue;
  }
}

.ui-select {
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 10px;
  padding: 5px 10px;
  border: none;
  border: 1px solid rgb(160 160 160);
  border-radius: $i-radius;

  &:focus {
    outline: 1px blue;
  }

  &:active {
    outline: 2px blue;
  }

  &:hover {
    cursor: pointer;
  }
}

.ui-button {
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 10px;
  padding: 5px 10px;
  color: white;
  font-size: 14px;
  background-color: $btn-color;
  border: none;
  border-radius: $i-radius;
  transition: 0.3s;

  &--small {
    width: auto;
    padding: 5px 10px;
    font-size: 12px;
  }

  &:active {
    outline: 2px blue;
  }

  &:hover {
    background-color: $btn-color-hoverder;
    cursor: pointer;
  }
}

.ui-label {
  margin-bottom: 5px;
  color: #000;
  font-size: 12px;
}

[data-tooltip] {
  position: relative;

  &::after {
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px;
    font-size: 10px;
    text-align: left;
    background-color: white;
    border-radius: $i-radius;
    transform: translateY(calc(-100% - 3px)) translateX(0%);
    opacity: 0;
    transition: 0.2s;
    content: attr(data-tooltip);
  }

  &:hover {
    &::after {
      opacity: 0.8;
    }
  }
}
