@font-face {
  font-weight: normal;
  font-family: "Lcd nova";
  src: url("@/assets/fonts/DigitalLed.otf");
}

.digital-dial {
  font-weight: bold;
  font-size: 48px;
  font-family: "Lcd nova", sans-serif;
}
