.weather-widget {
  position: relative;
  height: 190px;
  background: rgb(75 145 183);

  @extend %widget-extend;

  &__city {
    text-transform: uppercase;

    b {
      margin-right: 10px;
    }
  }

  &__temperature {
    display: flex;
    align-items: center;
    font-weight: 100;
    font-size: 56px;
  }

  &__icon {
    height: 80px;
  }

  &__weather {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    font-size: 20px;
    line-height: 22px;
  }

  &__other-temperature {
    display: flex;
    margin-bottom: 10px;

    span {
      width: 40px;
      font-size: 20px;

      &:first-child {
        margin-right: 5px;
      }
    }
  }

  &__get-geolocation-btn {
    $btn-size: 25px;

    display: flex;
    align-items: center;
    justify-content: center;
    width: $btn-size;
    height: $btn-size;
    margin: 0;
    padding: 0;
    background: url("@/assets/img/gps.png") no-repeat;
    background-position: center;
    background-size: auto 70%;
    border: none;

    &:hover {
      cursor: pointer;
    }
  }

  &__geolocation {
    color: black;
    font-size: 14px;
  }

  &__setting-header {
    display: flex;
    justify-content: space-between;
  }
}
