$second-h-color: red;
$minute-h-color: black;
$hour-h-color: black;

.analog-dial {
  position: relative;
  width: 150px;
  height: 150px;

  &__dial-circle {
    width: 100%;
    height: 100%;
    background: url("./assets/dial.svg") no-repeat, white;
    background-color: white;
    background-position: center;
    background-size: 95%;
    border-radius: 50%;
  }

  &__hands {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* stylelint-disable-next-line property-no-vendor-prefix */
    -webkit-filter: drop-shadow(3px 3px 1px rgb(0 0 0 / 30%));
  }

  &__hand {
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: top center;
    filter: drop-shadow(3px 3px 1px 1px rgb(1 1 1 / 35%));

    // transition: 0.1s;

    &--second {
      top: 30%;
      width: 2px;
      height: 100px;
      background-color: $second-h-color;
      border-radius: 0 0 50vw 50vw;
      transform-origin: center 30%;

      &::after {
        position: absolute;
        top: 30%;
        left: 1px;
        width: 10px;
        height: 10px;
        background-color: $second-h-color;
        border-radius: 50%;
        transform: translate(-50%, -50%);
        content: "";
      }
    }

    &--minute {
      width: 4px;
      height: 50px;
      background-color: $minute-h-color;
      border-radius: 0 0 50vw 50vw;
    }

    &--hour {
      width: 6px;
      height: 35px;
      background-color: $hour-h-color;
      border-radius: 0 0 50vw 50vw;
    }
  }
}
