<template>
  <div :class="[
    'widgets-block',
    { 'widgets-block--changes-opened': isOpenChanges  }
  ]">
    <draggable
      :class="[
        'widgets-block__list',
        { 'widgets-block__list--bordered': isOpenChanges  }
      ]"
      tag="ul"
      group="widgets"
      v-model="activeWidgets"
      v-bind="dragOptions"
      :disabled="!isOpenChanges"
      item-key="element"
      @start="() => {}"
      @end="() => {}"
    >
      <template #item="{ element: { component, name }}">
        <li class="widget">
          <component :is="component" @click.stop />
          <div
            v-if="isOpenChanges"
            class="delete-btn"
            @click.stop="deleteWidget(name)">
          </div>
        </li>
      </template>
    </draggable>
    <button
      class="widgets-block__edit-btn"
      :onClick="toggleAside">
      Изменить
    </button>
  </div>
</template>
<script lang="ts">
import {
  defineComponent,
  computed,
  ref
} from 'vue';
import { useStore } from 'vuex';
import draggable from 'vuedraggable';
import { Widget } from '@/interfaces';
import './index.scss';

export default defineComponent({
  name: 'widgets-preview-list',

  components: {
    draggable
  },

  setup (props) {
    const store = useStore();

    const isOpenChanges = computed<boolean>(() => store.getters.IS_OPEN_CHANGES);

    const dragOptions = ref({
      animation: 200,
      ghostClass: 'widget-ghost'
    });

    const activeWidgets = computed<Widget[]>({
      get () {
        return store.getters.ACTIVE_WIDGETS;
      },
      set (value) {
        store.commit('setActiveWidgets', value);
      }
    });

    const toggleAside = (e: MouseEvent) => {
      e.stopPropagation();
      store.commit('setIsOpenChanges', !isOpenChanges.value);
    };

    const deleteWidget = (name: string) => {
      const filtredActiveWidgets = activeWidgets.value.filter((item) => item.name !== name);
      store.commit('setActiveWidgets', filtredActiveWidgets);
    };

    return {
      activeWidgets,
      dragOptions,
      toggleAside,
      isOpenChanges,
      deleteWidget
    };
  }
});
</script>
