.widgets-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding-bottom: 20px;

  &__list {
    width: 300px;
    height: auto;
    min-height: 300px;
    margin-bottom: 20px;
    padding: 10px;
    list-style: none;
    border-radius: $b-radius;
    pointer-events: initial;
    transition: 0.5s;
    
    

    &--bordered {
      outline: 2px solid rgba(0, 0, 0, 0.7);
    }

    li {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__edit-btn {
    padding: 10px 20px;
    color: #cacaca;
    text-transform: uppercase;
    background-color: rgba($color: #000, $alpha: 40%);
    border: none;
    border-radius: $b-radius;
    backdrop-filter: blur(30px);
    transition: 0.3s;

    &:hover {
      background-color: rgba($color: #fff, $alpha: 40%);
      cursor: pointer;
    }
  }

  &--changes-opened {
    pointer-events: auto;
  }
}
