.time-widget {
  height: 230px;
  background-color: rgb(0 0 0);

  @extend %widget-extend;

  &__setting-header {
    display: flex;
    justify-content: flex-end;
  }

  .front-side {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
